#footer{
    background-color: #1e1e1e;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    text-align: center;
  }

#Kimnguyen{
  color: white;
  font-family: 'Cera Round Pro';
  font-weight: 500;
  font-size: xx-large;
  padding-top: 70px;
  padding-bottom: 10px;
}

#Contact_container{
  display: flex;
  position: relative;
  overflow: auto;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

.contact{
  text-align: center;
  margin-left: 5px; 
  margin-right: 5px; 
  width: 35px; 
  height: 35px; 
  font-size: 20px; 
  background-color: white; 
  color: #1e1e1e; 
  border: 1px solid #1e1e1e; 
  border-radius: 10px;
}

.contact:hover{background-color: #1e1e1e; color: white; border: 1px solid white;}

.contact i{
  padding-top: 8px;
}

#Copyright{
  color: white;
  margin-top: 80px;
  font-family: 'Cera Round Pro';
}